// * 포인트 컬러
$point-red: #e60112;
$point-orange: #ff7c00;

// * 백그라운드 컬러
$bg-primary-grey: #8c8c8c;
$bg-sub-grey: #f5f4f4;
$bg-primary-white: #ffffff;

// * 텍스트 컬러
$text-light-white: #ffffff;
$text-sub-light-grey: #f5f4f4;
$text-sub-grey: #666666;
$text-primary-black: #3c3c3c;
